body {
  background-color: #949494;
}

.hero-content {
  margin-top: 10% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}
.hero-content h5 {
  color: #fff;
  margin: 0;
}

.hero-content h1 {
  width: 80%;
  color: #fff;
  margin: 0;
  font-weight: 300;
}
.content-section {
  margin-block: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-section .text-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  gap: 2rem;
  margin-bottom: 3rem;
}

.content-section .text-content h5 {
  color: #fff;
}

.content-section .text-content p {
  color: #fff;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.1rem;
}
.content-section .img {
  margin-top: 3rem;
  width: 60%;
  object-fit: contain;
}

.content-section .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.culinary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  color: white;
  margin: 4rem 0;
}
.culinary h5 {
  color: #fff;
  margin: 0;
}
.culinary h2 {
  width: 50%;
  color: #fff;
  margin: 0;
  font-weight: 300;
}
.culinary p {
  width: 50%;
  color: #fff;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.2rem;
}
.menu-section {
  padding: 5% 0;
  background-color: #3c3c3c;
  width: 100%;
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.menu-section .menu_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
}
.menu_card .menu_card_img {
  width: 40%;
}
.menu_card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu_card .menu_card_content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.menu_card_content .content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menu_card_content #content {
  align-items: center;
  justify-content: center;
  text-align: start;
}
.menu_card_content img {
  width: 30%;
  object-fit: contain;
}
.menu_card_content .content h5 {
  width: inherit;
  color: #fff;
  margin-bottom: 1rem;
}

.menu_card_content .content .item-list {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu_card_content .content .items {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.items .first {
  display: flex;
  align-items: center;
  margin-block: 1.5rem;
}

.item-name {
  font-size: 1.2vw;
  color: #dab44d;
  margin: 0;
}

/* Menu item list styling */
/* Menu item list styling */
.items .second ul {
  list-style: none; /* Remove default list style */
  padding: 0;
  margin: 0;
}

.items .second ul li {
  padding: 8px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
}

/* Add a custom icon or marker */
.items .second ul li::before {
  content: "\2022"; /* Bullet point symbol */
  color: #dab44d; /* Add a color for the bullet */
  font-size: 20px;
  margin-right: 10px;
}

/* Hover effect for list items */
.items .second ul li:hover {
  cursor: pointer;
}

/* Link styling */
.items .second a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  color: #dab44d;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  transition: color 0.5s;
}
.items .second a:hover {
  color: #93782e;
}

@media screen and (max-width: 480px) {
  .hero-content h1 {
    width: 100%;
    font-size: 6vw !important;
  }
  .hero-content h5 {
    font-size: 3vw !important;
  }
  .content-section .text-content {
    width: 100%;
    padding: 0 5%;
  }
  .content-section .text-content h5 {
    text-align: center;
    font-size: 3vw !important;
  }
  .content-section .text-content p {
    text-align: center;
    font-size: 3vw !important;
  }
  .content-section .img {
    width: 100%;
  }
  .culinary {
    margin: 2rem 2rem;
  }
  .culinary h5 {
    font-size: 3vw !important;
  }
  .culinary h2 {
    width: 100%;
    font-size: 6vw !important;
  }
  .culinary p {
    width: 100%;
    font-size: 3vw !important;
  }

  .menu-section {
    gap: 3rem;
  }
  .menu_card {
    flex-direction: column;
  }
  .menu_card .menu_card_img {
    width: 100%;
  }
  .menu_card_img:last-child {
    display: none;
  }
  .menu_card .menu_card_content {
    width: 80%;
  }
  .menu_card_content img {
    display: none;
  }
  .menu_card_content .content {
    padding: 10% 0;
    gap: 1rem;
    width: 100%;
  }
  .menu_card_content .content h5 {
    font-size: 3vw !important;
  }
  .menu_card_content .content a {
    font-size: 4vw !important;
  }
  .menu_card_content .content .items {
    width: 100%;
  }
  .item-name {
    font-size: 3vw !important;
  }
  .item-price {
    font-size: 3vw !important;
  }
  .content .items .second p {
    font-size: 3vw !important;
  }
}

@media screen and (min-width: 540px) and (max-width: 1024px) {
  .hero-content h1 {
    width: 100%;
    font-size: 6vw !important;
  }
  .hero-content h5 {
    font-size: 3vw !important;
  }
  .content-section .text-content {
    width: 100%;
    padding: 0 5%;
  }
  .content-section .text-content h5 {
    text-align: center;
    font-size: 3vw !important;
  }
  .content-section .text-content p {
    text-align: center;
    font-size: 2.5vw !important;
  }
  .content-section .img {
    width: 100%;
  }
  .culinary {
    margin: 2rem 2rem;
  }
  .culinary h5 {
    font-size: 2vw !important;
  }
  .culinary h2 {
    width: 100%;
    font-size: 4vw !important;
  }
  .culinary p {
    width: 100%;
    font-size: 2.5vw !important;
  }

  .menu-section {
    gap: 3rem;
  }
  .menu_card {
    flex-direction: column;
  }
  .menu_card .menu_card_img {
    width: 100%;
  }
  .menu_card_img:last-child {
    display: none;
  }
  .menu_card .menu_card_content {
    width: 80%;
  }
  .menu_card_content img {
    display: none;
  }
  .menu_card_content .content {
    padding: 10% 0;
    gap: 1rem;
    width: 100%;
  }
  .menu_card_content .content h5 {
    font-size: 2vw !important;
  }
  .menu_card_content .content a {
    font-size: 3vw !important;
  }
  .menu_card_content .content .items {
    width: 100%;
  }
  .item-name {
    font-size: 2vw !important;
  }
  .item-price {
    font-size: 2vw !important;
  }
  .content .items .second p {
    font-size: 2vw !important;
  }
}
