@import url("https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/fragile");

/* For all scrollable elements */
::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit-based browsers (Chrome, Edge, Safari) */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  -ms-overflow-style: none; /* Hides the scrollbar in Internet Explorer/Edge */
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

:root {
  --bg-color: #949494;
  --text-color: #fff;
  --text-color1: #f1ebd5;
  --main-color: #3c3c3c;
  --secondary-color: #d8d8d8;

  --big-font: 5rem;
  --p-font: 1rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
}
h1,
h2 {
  font-family: "Fragile", sans-serif;
}

h1 {
  font-size: 6vw;
}

h2 {
  font-size: 4vw;
}

h5 {
  font-size: 1.4vw;
  text-transform: uppercase;
}

img:not(.divider):not(.hero-logo) {
  opacity: 1;
  transform: translateY(5%);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

img:not(.divider):not(.hero-logo):hover {
  transform: scale(1.02) !important; /* Slightly enlarge the image */
  transition: transform 0.2s ease;
  filter: brightness(0.7);
}

/* Active state when the image is visible */
img:not(.divider):not(.hero-logo).animate {
  opacity: 1;
  transform: translateY(0);
}

.cta-button {
  margin-top: 20px;
  padding: 1vw 2vw;
  font-size: 1vw;
  color: #e5e5e5;
  background: none; /* Primary button color */
  border: 3px solid #e5e5e5;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
}
.cta-button a {
  color: inherit;
}
.cta-button:hover {
  background-color: #e5e5e5;
  color: #000 !important;
  transform: scale(1.05);
  transition: background-color 0.6s ease, color 0.5s ease, transform 0.2s ease !important;
}
.cta-button.b:hover {
  background-color: #000;
  color: #fff !important;
  transform: scale(1.05);
  transition: background-color 0.6s ease, color 0.5s ease, transform 0.2s ease !important;
}
button {
  font-size: 1vw;
}
/* Hero Section */
.hero {
  height: 105vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-content {
  z-index: 2; /* Ensures content is above the overlay */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 5%;
  margin: 0 auto;
}

.hero-logo {
  width: 70vw;
  margin-bottom: 1rem;
}

.hero p {
  color: var(--text-color);
  margin-top: -1rem;
}

.title {
  width: 100%;
  position: absolute;
  bottom: -15%;
  z-index: 100;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}

.title h1 {
  font-size: 30vw; /* Makes the font size responsive to the viewport width */
  text-transform: uppercase; /* Optional, if you want uppercase letters */
  margin: 0; /* Removes default margins */
  color: rgba(255, 255, 255, 0.1);
  white-space: nowrap; /* Prevents the word from breaking into multiple lines */
  transform: scaleY(0.9); /* Stretches vertically if needed */
}

.name {
  padding-top: 1%;
  margin-bottom: 0;
}

.name h1 {
  font-size: 6vw;
  color: #3c3c3c51;
  text-transform: uppercase;
  transform: scaleY(1.4);
  letter-spacing: 2vw;
  text-align: center;
  margin-bottom: 0;
}

/* Menu and Text */
.menu {
  color: #fff;
  cursor: pointer;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}

.hamburger {
  margin-right: 0.5vw;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.hamburger:hover {
  transform: rotate(90deg) scale(1.4);
  color: #969696;
}

/* Divider */
.divider {
  width: 4%;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Primary Navigation */
.primary-nav {
  padding-inline: 1%;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; /* Ensures it stays above the content */
  transition: 0.3s ease, background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.primary-nav .Text a {
  font-size: 1vw;
  color: #fff;
}

/* Sticky Navigation */
.sticky-nav {
  padding: 15px 0;
  text-align: center;
  position: fixed;
  top: 10vh; /* Appears below the primary nav */
  width: 100%;
  z-index: 200; /* Ensures it appears above the content */
  display: none; /* Initially hidden */
  transition: 2s ease;
}

/* Sticky Nav Links */
.sticky-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.sticky-nav ul li {
  margin: 0 15px;
}

.sticky-nav ul li a {
  font-size: 1vw;
  color: #fff;
  text-transform: uppercase;
  margin: 0 30px;
  transition: color 0.3s ease;
  letter-spacing: 0.1rem;
}

.sticky-nav ul li a:hover {
  color: #fff; /* Highlight color */
}

/* Hidden Utility Class */
.hidden {
  display: none;
}

/* Active Utility Class (to show sticky-nav when needed) */
.visible {
  display: block !important;
}

/* navigation */
.hidden-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #aaaaaa;
  color: white;
  z-index: 1000;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.hidden-nav.visible {
  display: block;
  opacity: 1;
  transform: translateX(0);
  animation: fadeSlideIn 0.7s ease forwards;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.hidden-nav.closing {
  animation: fadeSlideOut 0.7s ease forwards;
}

/* Animation for Menu Items */
.hidden-nav .menu-content h2 {
  opacity: 0;
  transform: translateX(-50px); /* Slide in from left */
  animation: menuItemSlide 2s ease forwards;
}

.hidden-nav .menu-content h2:nth-child(1) {
  animation-delay: 0.1s; /* Staggered delays */
}

.hidden-nav .menu-content h2:nth-child(2) {
  animation-delay: 0.2s;
}

.hidden-nav .menu-content h2:nth-child(3) {
  animation-delay: 0.3s;
}

.hidden-nav .menu-content h2:nth-child(4) {
  animation-delay: 0.4s;
}

.hidden-nav .menu-content h2:nth-child(5) {
  animation-delay: 0.5s;
}

.hidden-nav .menu-content h2:nth-child(6) {
  animation-delay: 0.6s;
}

.hidden-nav .menu-content h2:nth-child(7) {
  animation-delay: 0.7s;
}

.hidden-nav .menu-content h2:nth-child(8) {
  animation-delay: 0.8s;
}

.hidden-nav .menu-content h2:nth-child(9) {
  animation-delay: 0.9s;
}

/* Keyframes for Staggered Animation */
@keyframes menuItemSlide {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Close Button */
.close {
  position: relative;
  font-size: 1.2vw; /* Adjust size as needed */
  color: #ffffff; /* Text color */
  cursor: pointer; /* Indicate it's clickable */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth animation */
}

.close::before {
  content: "✖";
  margin-right: 8px;
  font-size: inherit;
  color: inherit;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

.close:hover::before {
  transform: rotate(360deg) scale(1.2);
  color: #000000;
}
.content-section-nav {
  display: flex;
  align-items: center;
}

.content-section-nav .left {
  width: 100%;
  align-self: start;
  margin-top: 6%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  gap: 2rem;
}

.hidden-nav .menu-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.content-section-nav .left h5 {
  font-size: 1vw;
  color: #ffffff;
  margin: 0;
  margin-block: 1rem;
}

.content-section-nav .left .menu-content .first a h2 {
  font-size: 2vw;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  margin-top: 5%;
  transition: color 0.5s;
}
.content-section-nav .left .menu-content .first a h2:hover {
  color: #000000;
}

.hidden-nav .menu-content .second {
  margin-top: 10%;
  width: 100%;
}

.socials {
  display: flex;
  gap: 2rem; /* Spacing between icons */
}

.social-link {
  animation: menuItemSlide 3s ease forwards;
  text-decoration: none; /* Remove underline */
  font-size: 2vw; /* Adjust icon size */
  color: #fff; /* Icon color */
  transition: color 0.3s; /* Smooth hover effect */
}

.social-link:hover {
  color: #000000; /* Change color on hover */
}
.more {
  margin-right: 10%;
}
.more-links {
  margin-top: 1%;
  display: flex; /* Spacing between icons */
  flex-direction: column;
}
.more-links a {
  margin-top: 5%;
  text-decoration: none; /* Remove underline */
  font-size: 1.1vw; /* Adjust icon size */
  color: #fff; /* Icon color */
  transition: color 0.3s; /* Smooth hover effect */
  animation: menuItemSlide 3s ease forwards;
}
.more-links a:hover {
  color: #000000; /* Change color on hover */
}

/* #Progress
================================================== */
/* Scroll Progress Container */
.scroll-progress {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Circular Progress Indicator */
.progress-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg); /* Start progress from top */
}

.progress-circle .bg {
  fill: none;
  stroke: #9c9c9c; /* Background circle color */
  stroke-width: 2;
}

.progress-circle .progress {
  fill: none;
  stroke: #2f2f2f; /* Progress stroke color */
  stroke-width: 3;
  stroke-dasharray: 175.93; /* Circumference of the circle: 2πr (28) */
  stroke-dashoffset: 175.93; /* Start at 100% (hidden) */
  transition: stroke-dashoffset 0.2s linear;
}

/* Arrow (^) */
.progress-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  transform: translateX(-50%); /* Center arrow */
}

.arrow {
  stroke: #9c9c9c; /* Arrow color */
  stroke-width: 2;
  fill: none;
}
/* booking form ============================================ */
.booking-section {
  padding: 5rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/img/background.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-section .header {
  width: 80%;
  color: #fff;
  display: flex;
  justify-content: color;
  align-items: center;
  text-align: center;
}
.booking-section .header h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 400;
}

.form {
  width: 80%;
}
.booking-form {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1vw;
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

/* Styling for Inputs and Selects */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group select {
  width: 100%;
  border: none;
  border-bottom: 2px solid #949494;
  color: #fff;
  background: none;
  padding: 10px;
  font-size: 1.1vw;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #cfcfcf;
  opacity: 1; /* Ensure full opacity for the placeholder text */
}

/* Styling for the options in the dropdown */
.form-group select option {
  color: #cfcfcf; /* Set the text color for dropdown options */
  background-color: #000; /* Optional: Ensure options are visible against dark backgrounds */
}

/* For the dropdown itself when no value is selected */
.form-group select {
  color: #cfcfcf; /* Default color for the dropdown text */
}

.form-group select:focus {
  color: white; /* Change color when dropdown is active */
  border-bottom-color: #fff; /* Optional: Highlight border on focus */
  background: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) grayscale(100%) brightness(70%);
  cursor: pointer;
}

input[type="date"]::-webkit-datetime-edit {
  color: #cfcfcf; /* Placeholder color */
}
/* Styling for the date input text when a value is selected */
input[type="date"]:valid {
  color: #fff; /* Selected text color */
  border-bottom-color: #fff; /* Optional: Highlight border when a date is selected */
}

/* Focus styling for better interactivity */
input[type="date"]:focus {
  border-bottom-color: #fff; /* Border highlight on focus */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form-group input:focus,
.form-group select:focus {
  border-bottom: 2px solid #fff;
}

/* Styling for Textarea */
#message {
  width: 100%;
  height: 15vh;
  border: 2px solid #949494;
  color: #fff;
  padding: 10px;
  font-size: 1.1vw;
  background: none;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  resize: vertical;
}

#message:focus {
  border-color: #fff;
}

/* Inline Form Groups */
.form-group.inline {
  width: 49%;
  display: inline-block;
  justify-content: space-between;
  gap: 20px;
}

/* Submit Button */

/* Footer ============================================ */
.footer {
  width: 100%;
  background: #3c3c3c;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer > h3 {
  color: #fff;
  font-size: 1.6vw;
  font-weight: 600;
  padding-block: 0.5rem;
  width: 100%;
  letter-spacing: 0.3rem;
  text-align: center;
}

.footer .footer-row {
  height: 60vh;
  display: flex;
  justify-content: space-between;
  padding: 5rem 5rem;
}

.footer-col {
  width: calc(100% / 3);
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.footer-col:first-child {
  text-align: start;
  border-right: 1px solid #707070;
}
.footer-col:nth-child(2),
.footer-col:last-child {
  padding-top: 6rem;
  text-align: center;
}
.footer-col:last-child {
  border-left: 1px solid #707070;
}

.footer-col h4 {
  color: #dab44d;
  font-size: 1.1vw;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.footer-row .footer-col h3 {
  color: #fff;
  font-size: 1.2vw;
  font-weight: 400;
  margin-bottom: 2rem;
  width: 100%;
}
.footer-row .footer-col h2 {
  color: #fff;
  font-size: 1.2vw;
  font-weight: 400;
  width: 100%;
}

.footer-col img {
  width: 60%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  font-size: 1vw;
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  color: #bfbfbf;
  max-width: 300px;
}

.footer-socials {
  margin-top: 5%;
  display: flex;
  gap: 2rem; /* Spacing between icons */
}

.footer-socials .social-link {
  text-decoration: none; /* Remove underline */
  font-size: 1.6vw; /* Adjust icon size */
  color: #fff; /* Icon color */
  transition: color 0.3s; /* Smooth hover effect */
}

.footer-socials .social-link:hover {
  color: #000000; /* Change color on hover */
}

.footer .last {
  width: 100%;
  position: relative;
  display: inline;
  float: left;
}

.footer .last .last-col {
  position: absolute;
  display: inline;
  float: left;
}

.last .last-col p {
  color: #6c6c6c;
  font-size: 1vw;
  font-weight: 500;
}

.last .last-col p a {
  color: #6c6c6c;
  font-size: 1vw;
  font-weight: 500;
  text-decoration: none;
}

.last .last-col.f {
  left: 5%;
}
.last .last-col.s {
  left: 50%;
  transform: translateX(-50%);
}
.last .last-col.t {
  right: 15%;
}

@media screen and (min-width: 540px) and (max-width: 1024px) {
  .primary-nav {
    margin-bottom: 1vh;
    padding-bottom: 1vh;
  }
  .title {
    display: none;
  }
  .name h1 {
    font-size: 4vw;
    letter-spacing: 1rem;
  }

  .hidden-nav {
    background-color: #aaaaaaf7;
    width: 100%;
    height: fit-content;
    padding-inline: 2%;
  }
  .close {
    font-size: 2.5vw;
  }

  .hidden-nav .menu-content {
    gap: 0;
  }

  .content-section-nav .left h5 {
    font-size: 2vw;
    margin: 3rem 0 10% 0;
  }

  .content-section-nav .left .menu-content .first a h2 {
    font-size: 4vw;
  }

  .hidden-nav .menu-content .second {
    margin: 2% 0 5% 0;
    width: 100%;
  }
  .socials {
    margin-top: 5%;
    gap: 1.5rem;
  }

  .social-link {
    font-size: 5vw;
  }
  .more-links {
    margin-top: 10%;
  }
  .more-links a {
    font-size: 3vw;
  }

  .booking-section {
    width: 100%;
    flex-direction: column;
  }
  .booking-section .header {
    width: 100%;
  }
  .booking-section .header h2 {
    font-size: 4vw;
  }

  .form {
    width: 80%;
    position: relative;
  }
  .booking-form {
    max-width: 80%;
  }

  .form-group label {
    font-size: 1vw;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="number"],
  .form-group input[type="date"],
  .form-group select {
    font-size: 2vw;
  }

  #message {
    font-size: 2vw;
  }

  #book-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    font-size: 2vw;
    padding: 2vh 3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer {
    padding: 3vh 0;
  }
  .footer > h3 {
    font-size: 2vw;
  }
  .footer .footer-row {
    flex-wrap: wrap;
    height: max-content;
    padding: 2vh 6vh;
  }
  .footer-col {
    width: 100%;
    padding: 0;
  }

  .footer-col .links {
    margin-top: 5%;
  }
  .footer-col .links li {
    margin-bottom: 3%;
  }
  .footer-col:first-child h4 {
    display: none;
  }

  .footer-row .footer-col h3 {
    font-size: 1.7vw !important;
    margin-bottom: 1rem;
  }

  .footer-row .footer-col h2 {
    font-size: 1.5vw !important;
  }

  .footer-socials {
    gap: 1rem;
  }

  .footer-socials .social-link {
    font-size: 3vw;
  }

  .footer-col:first-child {
    width: 50%;
    border-right: 1px solid white;
  }
  .footer-col:nth-child(2) {
    display: none;
  }
  .footer-col:last-child {
    text-align: end;
    padding: 0;
    width: 50%;
  }
  .footer-col:last-child {
    border-left: none;
  }
  .footer-col h4 {
    font-size: 2vw;
  }
  .footer-row .footer-col h3 {
    font-size: 1vw;
  }
  .footer-col .links li a {
    font-size: 2vw;
  }

  .footer .last {
    display: block;
    float: none;
  }
  .last .last-col p {
    font-size: 2vw;
  }

  .last .last-col p a {
    font-size: 2vw;
  }
  .last .last-col.f {
    left: 5%;
  }
  .last .last-col.s {
    right: 5%;
    transform: none;
  }
  .last .last-col.t {
    margin-top: 2%;
    right: 50%;
    transform: translate(50%, 100%);
  }
  .footer .last .last-col.t p {
    color: #1e1e1e;
    margin-bottom: 5%;
  }
  .booking-form .cta-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .cta-button {
    font-size: 2.5vw !important;
    padding: 2.5vw 8vw !important;
  }
}
@media screen and (max-width: 480px) {
  .hero p {
    font-size: 2.5vw;
  }

  .divider {
    display: none;
  }

  .primary-nav .Text {
    display: none;
  }
  .primary-nav .menu {
    margin-left: 2%;
  }
  .sticky-nav ul {
    display: none;
  }

  .title {
    display: none;
  }
  .name {
    display: none;
  }

  .hidden-nav {
    background-color: #aaaaaaf7;
    width: 100%;
    height: fit-content;
    padding-inline: 5%;
  }
  .menu {
    font-size: 2.5vw;
  }
  .close {
    font-size: 2.5vw;
  }

  .hidden-nav .menu-content {
    gap: 0;
  }

  .content-section-nav .left h5 {
    font-size: 3vw;
    margin: 3rem 0 10% 0;
  }

  .content-section-nav .left .menu-content .first a h2 {
    font-size: 5vw;
  }

  .hidden-nav .menu-content .second {
    margin: 2% 0 5% 0;
    width: 100%;
  }
  .socials {
    margin-top: 5%;
    gap: 1.5rem;
  }

  .social-link {
    font-size: 5vw;
  }
  .more-links {
    margin-top: 10%;
  }
  .more-links a {
    font-size: 3vw;
  }

  .booking-section {
    width: 100%;
    flex-direction: column;
  }
  .booking-section .header {
    width: 100%;
  }
  .booking-section .header h2 {
    font-size: 5vw;
  }
  .form {
    width: 100%;
    position: relative;
  }
  .booking-form {
    max-width: 80%;
  }

  .form-group label {
    font-size: 3vw;
  }

  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="number"],
  .form-group input[type="date"],
  .form-group select {
    font-size: 3vw;
  }

  #message {
    font-size: 2.5vw;
  }

  .booking-form .cta-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .cta-button {
    font-size: 2.5vw !important;
    padding: 2.5vw 5vw !important;
  }

  .footer {
    padding: 2vh 0;
  }
  .footer > h3 {
    display: none;
  }
  .footer .footer-row {
    width: 100%;
    flex-direction: column;
    height: max-content;
    padding: 2vh 6vh;
  }
  .footer-col {
    width: 100%;
    padding: 0;
  }

  .footer-col .links {
    margin-top: 5%;
  }
  .footer-col .links li {
    margin-bottom: 3%;
  }
  .footer-col:first-child h4 {
    display: none;
  }

  .footer-row .footer-col h3 {
    width: 100%;
    font-size: 3vw !important;
    margin-bottom: 1rem;
  }

  .footer-row .footer-col h2 {
    font-size: 3vw !important;
  }

  .footer-socials {
    gap: 1rem;
  }

  .footer-socials .social-link {
    font-size: 4vw;
  }

  .footer-col:first-child {
    width: 60%;
    border-right: none;
  }
  .footer-col:nth-child(2) {
    display: none;
  }
  .footer-col:last-child {
    text-align: start;
    padding: 4vh 0;
    width: 50%;
  }
  .footer-col:last-child {
    border-left: none;
  }
  .footer-col h4 {
    font-size: 2vw;
  }
  .footer-col .links li a {
    font-size: 2.5vw;
  }

  .footer .last {
    display: block;
    float: none;
  }
  .last .last-col p {
    font-size: 2vw;
  }

  .last .last-col p a {
    font-size: 2vw;
  }
  .last .last-col.f {
    left: 5%;
  }
  .last .last-col.s {
    right: 5%;
    transform: none;
  }
  .last .last-col.t {
    margin-top: 2%;
    right: 50%;
    transform: translate(50%, 100%);
  }
  .footer .last .last-col.t p {
    color: #1e1e1e;
    margin-bottom: 5%;
  }
}
