/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #949494;
}

/* Hero Section */
.hero {
    height: 80vh;
    background: url('../assets/img/Hero.png') no-repeat center center/cover; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.hero-content {
    z-index: 1;
    position: relative;
}

.hero-logo {
    width: 781px; 
    max-width: 100%;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    color: #fff;
    margin-top: -3rem;
}
.name h1 {
    font-size: 5rem; 
    color: #c9c9c9;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    justify-content: center;
    text-align: center;
}


.menu {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1rem;
    color: #fff;    
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3;
}

.navigation {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #363636;
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation ul li {
    display: inline;
    margin: 0 15px;
}

.navigation ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #c9c9c9;
    transition: color 0.3s ease;
}
.content-section {
    background-color: #363636;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-section img {
    max-width: 700px;
    height: 500px;
    margin-bottom: 2rem;
}

.content-section p {
    max-width: 500px;
    font-size: 24px;
    line-height: 1.5;
    color: #F1EBDF;
}
/* Responsive Design */
@media (max-width: 768px) {
    .hero-logo {
        width: 180px;
    }

    .hero p {
        font-size: 1rem;
    }
}